<footer>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis dolorum dolore quia minima quasi quidem ipsum quam consequatur aspernatur facilis, numquam soluta repellendus? Totam reprehenderit nemo facere debitis perspiciatis.</h1>
</footer>