<nav class="nav navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a href="/" class="logo"><span>Uni</span><span>Man</span></a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </div>
        </div>
    </div>
</nav>