<% layout("./layouts/boilarplate.ejs") %>
<body>
    <nav class="nav">
          <a href=""><img src="https://www.adaniuni.ac.in/wp-content/uploads/2024/10/New-logo-768x258.png"></a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>
          <a href=""></a>

    </nav>
    <main>

    </main>
    <footer>

    </footer>
</body>
