<% layout("./layouts/boilarplate.ejs") %>
<body>
    <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt quas, tempore quae, harum ipsam similique eius dolore facere, esse nesciunt autem magni optio repellat temporibus cupiditate facilis reprehenderit alias nostrum.</h3>
    <main>

    </main>
    
</body>
